<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892587419141-6jjc6ibkmnrdm89v3ii5c0uujnsru974.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892587419141-6jjc6ibkmnrdm89v3ii5c0uujnsru974</string>
	<key>API_KEY</key>
	<string>AIzaSyC6EDHPuOhPwQzRzlhjMJZiZdqHNlksUpE</string>
	<key>GCM_SENDER_ID</key>
	<string>892587419141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tundsdev.Firebase-SPM-installation</string>
	<key>PROJECT_ID</key>
	<string>test-5096d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-5096d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892587419141:ios:8b79f26d712cba0cd99e6c</string>
</dict>
</plist>